/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* ISU Font */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

@import url("//cdn.theme.iastate.edu/nimbus-sans/css/nimbus-sans.css");

/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* Omega bugfix */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset legend {
    display: block;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
/* Interim Header Preview */
/*///////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/

#suitcase-interim-header-preview hr {
    background-color: #cc0000;
    margin: 14px 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    height: 0;
}

#suitcase-interim-header-preview #field-container {
    float: left;
    width: calc(50% - .5em);
    box-sizing: border-box;
    margin-right: 1em;
    padding: 1em;
    color: #fff;
    background-color: #cc0000;
    border-bottom: 9px solid #F1BE48;
}

#suitcase-interim-header-preview #field-container input[type="text"] {
    display: block;
    font-size: 14px;
    padding: 5px;
    width: 300px;
    max-width: 100%;
}

#suitcase-interim-header-preview #field-container #field-level-1,
#suitcase-interim-header-preview #field-container #field-level-2 {
    margin-bottom: 1em;
}

#suitcase-interim-header-preview #field-container .grid-6 {
    width: calc(50% - .5em);
    float: left;
    padding-right: 1em;
    box-sizing: border-box;
}

#suitcase-interim-header-preview #field-container .grid-6:last-child {
    padding-right: 0;
}

#suitcase-interim-header-preview header {
    float: left;
    width: calc(50% - .5em);
    box-sizing: border-box;
    padding: 1em;
    color: #fff;
    background-color: #cc0000;
    border-bottom: 9px solid #F1BE48;
}

#suitcase-interim-header-preview header img {
    width: 375.5px;
    height: auto;
}

#suitcase-interim-header-preview header h1 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 16px;
    padding-top: 7px;
    font-family: 'Nimbus Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    margin-top: 0;
}

#suitcase-interim-header-preview header h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Nimbus Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
